{% extends "administrador_centralizado/base_template.html" %}

{% load staticfiles %}
{% block css %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block main_content %}

<div id="page-wrapper" class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                <small>{{titulo_pagina}}</small>
            </h2>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-lg-12 menu">
            <!-- panel de busqueda -->
            <div class="panel panel-default">
                <div class="panel-heading">Historial de Cotizaciones</div>
                <div class="panel-body">
                    <table class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Productor</th>
                                <th>Cantidad Cotizada</th>
                                <th>Fecha Cotizacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in cotizaciones %}
                                <tr>
                                    <td>{{c.productor.username}}</td>
                                    <td>{{c.asociacion_cotizacion_productor.cantidad_cotizada}}</td>
                                    <td>{{c.fecha}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
               

        </div>
    </div>
</div>

{% endblock %}
