{% extends "administrador_centralizado/base_template.html" %}

{% load staticfiles %}
{% block css %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block main_content %}

<div id="page-wrapper" class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                <small>{{titulo_pagina}}</small>
            </h2>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-lg-12 menu">
            <!-- panel de busqueda -->
            <div class="col-lg-12">

                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">Subir Reserva</div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <input name="archivo" class="form-control" type="file" accept=".xls,.xlsx"/>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-default">Subir</button>
                        </div>
                    </div>
                </div>
                </form>

            </div>

            <div class="col-lg-1/5"></div>

        </div>
    </div>
</div>

{% endblock %}
