/*
grey = #333333
green = #6FBC31
orange = #FF681D

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

/* ESTILOS GENERALES */

body {
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333333;
}
body a {
	text-decoration: none;
	color: #FF681D;
}
body a:hover {
	color: #FF681D;
}
a,
h1,
h2,
h3,
h4 {
	font-family: 'Roboto Slab', serif !important;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}
span {
	font-weight: 300;
}
.clear {
	clear: both;
}
a.btn-general {
  background-color: rgb(255, 104, 29);
  color: white;
  font-size: 22px;
  padding: 10px 20px 12px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #FF681D;
  -webkit-transition: all 0.5s ease-out; /* Safari */
  transition: all 0.3s ease-out;
  display: inline-block;
  margin: 10px 0;
}
a.btn-general:hover {
  background-color: white;
  color: #FF681D;
  text-decoration: none;
}
.orange	{
	color: #FF681D;
}

/* BOOTSTRAP */

.navbar-default .navbar-nav > li > a {
	font-size: 17px;
	font-weight: 300;
}

/* SLIDE HOME 1 */

#slide-1 {
  background: url(/static/css/images/img-slide.jpg) 50% 0 repeat fixed;
  min-height: 390px;
  height: 390px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-size: 2300px;
}

#slide-1 article  {
	height: 458px;
	position: absolute;
	text-align: left;
	top: 50px;
	width: 100%;
}
.busca-box {
	background-color: rgba(255,255,255,.8);
	padding: 10px 40px;
	border-top-left-radius: 20px;
}
.busca-box ul li {
	background-image: url(/static/css/images/ico-flecha.png);
	display: block;
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 25px;
	font-size: 16px;
	font-weight: 700;
	background-position-y: 50%;
	margin: 5px 0px;
}
.busca-box h2 {
	border-bottom: 1px dashed #333;
	padding-bottom: 10px;
	font-size: 36px;
	font-weight: 700;
}
.busca-box h2 span{
	font-size: 50px;
	font-weight: 600;
}
a.btn-busca {
  display: block;
  width: 100%;
  color: white;
  background-color: #FF681D;
  text-align: center;
  padding: 10px 0 15px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-out; /* Safari */
  transition: all 0.5s ease-out;
}
a.btn-busca:hover {
  color: white;
  background-color: #333;
  text-decoration: none;
}

/* SLIDE HOME 2 */

#slide-2 {
  background: url(/static/css/images/img-slide2.jpg) 50% 0 repeat fixed;
  min-height: 240px;
  height: 240px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-size: 2300px;
}

#slide-2 article  {
	height: 458px;
	position: absolute;
	text-align: left;
	top: 50px;
	width: 100%;
}

/* FRASE PRINCIPAL */

#frase {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 25px;
}
#frase h1 {
	font-size: 28px;
	margin: 0;
}

/* TITULOS HOME */
.titulo-1 {
	text-align: center;
}
.titulo-2 {
	text-align: center;
	color: white;
	background-color: #333333;
}
.titulo-1 h3, .titulo-2 h3 {
  font-size: 30px;
  font-weight: 600;
  padding: 15px 0 20px 0;
  margin: 0;
}
div.line-tr,
div.line-tr2 {
    /* Styling block element, not required */
    position: relative;
    margin-bottom: 60px;
    border-bottom: 1px solid #999;
    background: #fff;
}
	/* Required for Down Triangle */
div.line-tr:before, div.line-tr:after,
div.line-tr2:before, div.line-tr2:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}
	/* Stroke */
div.line-tr:before,
div.line-tr2:before {
  bottom: -16px;
  left: 50%;
  border-top-color: #777;
  border-width: 16px;
  margin-left: -16px;
}
	/* Fill */
div.line-tr:after {
  bottom: -15px;
  left: 50%;
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
	/* Fill */
div.line-tr2:after {
  bottom: -15px;
  left: 50%;
  border-top-color: #333;
  border-width: 15px;
  margin-left: -15px;
}

/* GENERAL SECCIONES */
#como-funciona,
#comentarios {
	 padding: 35px 0 50px 0;
}
#podras-buscar,
#info {
	 padding: 0 0 50px 0;
}
#geolocaliza {
	padding: 20px 0;
	background-color: #333333;
}
#podras-buscar,
#info {
  background-image: url(/static/css/images/gplaypattern_2X.png);
  background-size: 150px;
}
footer {
	background-image: url(/static/css/images/grass.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: 250px;
	padding: 40px 0;
}

/* CONTENIDOS */
#como-funciona p,
#comentarios p,
#info p {
	font-size: 20px;
	line-height: 27px;
}
.coment-item,
.como-item,
.info-item {
	text-align: center;
}
.como-item h4 {
	font-size: 24px;
	font-weight: 600;
}
.coment-item h4 {
	font-size: 20px;
}
.como-item img {
	max-width: 50px;
}
#buscador {
  background-color: rgb(234, 234, 234);
  margin-bottom: 1px;
  padding: 15px 0 15px 0;
}
#buscador h3 {
  text-align: center;
  margin-bottom: 30px;
}
#buscador .boton .bot {
  font-family: 'Roboto Slab', serif;
  background-color: #FF681D;
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #FF681D;
  padding: 5px 20px;
  /* width: 30px; */
  font-size: 18px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom-left-radius: 8px;
}
#buscador .boton .bot:hover {
  background-color: transparent;
  color: #333;
}
footer ul li {
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-right: 20px;
	margin-top: 0px;
	font-size: 12px;
}
footer ul li a {
	color: #333;
}
footer .vanilla, footer .redes, footer .buscagro {
  display: block;
  text-align: right;
}
footer .vanilla p {
	display: block;
	font-size: 9px;
	margin-top: 5px;
}
.buscagro p {
  font-size: 11px;
  margin-top: 10px;
}
.buscagro p span {
  color: rgb(255, 118, 51);
}
.formas-pago {
  margin-top: 30px;
}
.formas-pago p {
  font-size: 12px;
  color: rgb(72, 54, 116);
  display: inline-block;
}
.formas-pago img {
  max-width: 40px;
  display: inline-block;
  margin-left: 10px;
}
div#formas-pago h3 {
    color: #1B70A2;
    font-size: 18px;
}
div#formas-pago {
    margin-bottom: 20px;
    /* text-align: center; */
}
#formas-pago img {
    max-width: 30px;
}
footer .redes a.ico-facebook {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(/static/css/images/ico-facebook.png);
	background-size: 30px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out; /* Safari */
  	transition: all 0.2s ease-out;
}
footer .redes a.ico-facebook:hover {
	background-image: url(/static/css/images/ico-facebook2.png);
}
footer .redes a.ico-twitter {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(/static/css/images/ico-twitter.png);
	background-size: 30px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out; /* Safari */
  	transition: all 0.2s ease-out;
}
footer .redes a.ico-twitter:hover {
	background-image: url(/static/css/images/ico-twitter2.png);
}
footer .redes a.ico-youtube {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(/static/css/images/ico-youtube.png);
	background-size: 30px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out; /* Safari */
  	transition: all 0.2s ease-out;
}
footer .redes a.ico-youtube:hover {
	background-image: url(/static/css/images/ico-youtube2.png);
}
/* diagrama */
.diag-left p,
.diag-right p {
	min-width: 130px;
  	text-align: center;
  	font-weight: 600;
  	font-size: 13px;
  	display: inline-block;
  	background-color: white;
  	border: 1px solid #333;
  	padding: 8px 0;
}
.diag-left p {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.diag-right p {
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.diag-left img,
.diag-right img {
  display: inline-block;
  max-width: 65px;
  margin-top: -3px;
}
.diag-left {
	position: relative;
}
.diag-right {
	text-align: right;
}
.item-diag {
  /* position: absolute; */
  margin-bottom: 20px;
}
.diag-left .item-diag.margin1 {
	margin-left: 80px;
}
.diag-left .item-diag.margin2 {
	margin-left: 150px;
}
.diag-right .item-diag.margin1 {
	margin-right: 80px;
}
.diag-right .item-diag.margin2 {
	margin-right: 150px;
}
.diagrama {
  background-image: url(/static/css/images/nube2.png);
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: 40%;
}
.cont-nube {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  max-width: 250px;
  max-height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  text-align: center;
}
.cont-nube img {
	max-width: 90px;
}
.cont-nube p {
  font-size: 20px;
  padding: 0 25px;
  line-height: 23px;
}

/* cuadro ofertas */
.ofertas {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: rgba(255, 104, 29, .9);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 25px;
  z-index: 99;
   -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.cerrar-recibe a {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
}
.cerrar-recibe a:hover {
    color: black;
}
.despacho p {
    font-size: 12px;
}
.ofertas p {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: white;
	font-weight: 400;
}
.ofertas .form-group,
.ofertas .boton {
	display: block;
}
.ofertas .boton .bot {
  font-family: 'Roboto Slab', serif;
  background-color: #333;
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #333;
  padding: 5px 10px;
  /* width: 30px; */
  font-size: 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom-left-radius: 8px;
}
.ofertas .boton .bot:hover {
  background-color: #fff;
  color: rgb(255, 104, 29);
}
.envio-exitoso {
  color: white;
  text-align: center;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
  padding: 5px 0;
}

a.logo-mov {
	  display: none;
	}
.total-compra {
    margin-bottom: 40px;
    margin-top: 20px;
}
.forma-despacho,
.total-compra,
.forma-retiro {
	text-align: right;
}
.forma-despacho p,
.forma-retiro p {
	font-size: 10px;
}
.total-compra span {
	font-family: 'Roboto Slab', serif;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid #FF691E;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
}
.realiza-compra .boton {
	text-align: center;
}
.modal-body ul li {
    margin-left: 20px;
    margin-bottom: 10px;
}
.modal-body ul {
    margin-bottom: 25px;
}
div#cont-interior {
    margin-bottom: 45px;
}
div#frase-nueva {
    margin-top: 30px;
}
div#cont-interior h5 {
    margin-top: 30px;
}
div#cont-interior h3 {
    margin-top: 45px;
    color: #FF681D;
}
div#cont-interior p{
    text-align: justify;
}
div#cont-interior li {
    font-family: 'Open Sans', sans-serif;
    margin-left: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* VISTA CELULAR */
@media (max-width: 480px) { 
	.navbar-fixed-top, .navbar-fixed-bottom {
	  position: absolute !important;
	}
	#buscador {
	  text-align: center;
	}
	#buscador .form-group {
	  margin-bottom: 0;
	}
	.no-movil {
		display: none;
	}
	.busca-box h2 {
  		font-size: 30px;
	}
	#slide-1 {
	  min-height: 450px;
	  height: 450px;
	  margin-top: 0;
	}
	.como-item,
	.coment-item {
		margin-bottom: 40px;
	}
	.diag-left .item-diag.margin1,
	.diag-right .item-diag.margin1,
	.diag-left .item-diag.margin2,
	.diag-right .item-diag.margin2 {
	margin-left: 0;
	margin-right: 0;
	}
	.diagrama {
	  background: none;
	}
	.cont-nube {
	  display: none;
	}
	.diag-left p, .diag-right p {
	  min-width: 75px;
	  text-align: center;
	  font-weight: 600;
	  font-size: 9px;
	  display: inline-block;
	  background-color: white;
	  border: 1px solid #333;
	  padding: 5px 0;
	}
	.diag-left img, .diag-right img {
	  display: inline-block;
	  max-width: 35px;
	  margin-top: -3px;
	}
	#slide-2 {
	  display: none;
	}
	.navbar-brand {
	  height: 200px !important;
	  padding: 15px 15px;
	  font-size: 18px;
	  line-height: 20px;
	}
	a.logo-mov {
	  /* width: 100px; */
	  display: inline-block;
	  position: absolute;
	  margin: 10px 0 0 20px;
	  /* width: 100%; */
	  /* text-align: center; */
	}
	.logo-mov img {
	  /* width: 30%; */
	  max-width: 150px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 10px;
	}
	footer ul li {
	  display: block;
	  font-family: 'Roboto Slab', serif;
	  font-weight: 300;
	  margin-right: 20px;
	  margin-top: 8px;
	}
	footer .vanilla, footer .redes, footer .buscagro {
	  display: block;
	  text-align: center;
	}
	footer .redes {
		margin-top: 50px;
	}
	/* cuadro ofertas */
	.ofertas {
	  bottom: 0px;
	  right: 0px;
	  background-color: rgba(255, 104, 29, .9);
	  padding: 20px 25px;
	  z-index: 99;
	  border-radius: 0;
	  position: relative;
	  text-align: center;
	  margin-top: 10px;
	  display: none;
	}
	.ofertas p {
		font-family: 'Roboto Slab', serif;
		font-size: 20px;
		color: white;
		font-weight: 400;
	}
	.ofertas .form-group,
	.ofertas .boton {
		display: inline-block;
	}
	.ofertas .boton .bot {
	  font-family: 'Roboto Slab', serif;
	  background-color: #333;
	  color: white;
	  border-top-right-radius: 8px;
	  border-bottom-right-radius: 8px;
	  border: 1px solid #333;
	  padding: 5px 10px;
	  /* width: 30px; */
	  font-size: 15px;
	  -webkit-transition: all 0.2s ease-out; /* Safari */
	  transition: all 0.2s ease-out;
	}
	.ofertas .boton .bot:hover {
	  background-color: #fff;
	  color: rgb(255, 104, 29);
	}
	.envio-exitoso {
	  color: white;
	  text-align: center;
	  border-top: 1px dotted white;
	  border-bottom: 1px dotted white;
	  padding: 5px 0;
	}
	.panel-filtros {
	  margin-top: 20px;
	}
	.filtros {
		margin: 20px 0;
	}
	a.overlay-item p {
  		margin-top: 200px !important;
	}
	.item-producto-mod img {
	  margin-bottom: 20px;
	}
	.realiza-compra {
	  text-align: center;
	}
	/* modal proucto movil */
	.modal .descuento {
	  font-size: 25px!important;
	}
	.modal .precio-oferta {
	  font-size: 20px!important;
	}
	.modal .precio-anterior {
	  font-size: 15px!important;
	}
	.modal img.prod-modal {
	  display: block!important;
	  margin-right: auto!important;
	  margin-left: auto;
	  width: 200px;
	}
	.modal img.empresa-modal {
		display: none;
	}
	.total-compra span {
	    display: block;
	    margin-top: 10px;
	    font-size: 20px;
	}
 }
 /* VISTA TABLET */
 @media (min-width: 500px) and (max-width: 991px) { 
 	.no-movil {
		display: none;
	}
	.como-item {
		margin-bottom: 40px;
	}
	.diag-left .item-diag.margin1,
	.diag-right .item-diag.margin1,
	.diag-left .item-diag.margin2,
	.diag-right .item-diag.margin2 {
		margin-left: 0;
		margin-right: 0;
	}
	.diag-left {
		text-align: right;
	}
	.diag-right {
		text-align: left;
	}
	.diagrama {
	  background: none;
	}
	.cont-nube {
	  display: none;
	}
 }

  /* FORMULARIOS */

.grupo-form h4 {
	color:#FF681D;
	margin: 0;
}
.grupo-form span {
	display: block;
	font-size: 12px;
	margin: 0 0 25px 0;
}
.grupo-form .line-tr {
	margin: 0 0 35px 0 !important;
}
.form-group input {
	display: inline-block;
	margin: 0 0 20px 0;
}
.explota img {
  display: inline-block;
  max-width: 38px;
  margin-top: -12px;
  margin-right: 3px;
}
.explota h3 {
  display: inline-block;
}
input#h-frutales, input#h-semillas {
  margin-top: 20px;
  max-width: 160px;
}
.ofertas .form-group input {
  display: inline-block;
  margin: 0 0 0px 0;
}
.form-group select {
	padding: 5px;
	margin: 0 0 20px 0;
	width: 100%;
}
.mar-top {
	margin-top: 30px;
}
input.btn-general {
    background-color: #FF681D;
    color: #FFF;
    font-size: 15px;
    padding: 5px 18px 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid #FF681D;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
    margin: 10px 0px;
}
input.btn-general:hover {
  background-color: white;
  color: #FF681D;
  text-decoration: none;
}
.boton-form {
	text-align: right;
}
.envio-ok {
	text-align: center;
	margin: 20px 0 40px 0;
	display: block;
}
.datos-form p {
  margin-bottom: 30px;
}
.realiza-compra {
  margin: 20px 0 0 0;
}
.realiza-compra .boton .bot {
  font-family: 'Roboto Slab', serif;
  background-color: #FF681D;
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #FF681D;
  padding: 5px 20px;
  /* width: 30px; */
  font-size: 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom-left-radius: 8px;
}
.realiza-compra .boton .bot:hover {
  color: #FF681D;
  border: 1px solid #FF681D;
  background-color: white;
}

/* MAPA */
.sidebar-map {
    position: fixed !important;
    padding-left: 0px !important;; 
    padding-right: 0px !important;;
    right: 0px !important;; 
    top: 100px !important;;
    height: 100% !important;;
}
.map {
    height: 100% !important;
}

.panel-filtros {
	color: white;
	text-align: center;
	vertical-align: middle;
}
.panel-resultados {
	text-align: center;
}
.filtros {
  /* background-color: rgb(239, 239, 239); */
  padding-top: 10px;
  /* padding-bottom: 10px; */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.filtros-zona {
  color: rgb(51, 51, 51);
}
.filtros ul li a {
  color: rgb(52, 52, 52);
  /* background-color: white; */
  padding: 2px 5px;
  margin: 2px;
  font-size: 9px;
  text-decoration: none;
  /* border: 1px solid grey; */
  text-transform: uppercase;
}
.filtros ul li a:hover {
  color: #FF681D;
}
.filtros li {
  display: inline-block;
  /* background-color: grey; */
  /* font-size: 11px; */
  padding: 0;
  margin: 0;
}
.panel-filtros .boton .bot {
  font-family: 'Roboto Slab', serif;
  background-color: #FF681D;
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #FF681D;
  padding: 5px 20px;
  /* width: 30px; */
  font-size: 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom-left-radius: 8px;
  width: 100%;
}
.panel-filtros .boton .bot:hover {
  background-color: transparent;
  color: #333;
}
#item-resultado {
  border: 1px dashed rgb(51, 51, 51);
  padding: 0px;
  margin-bottom: 20px;
  position: relative;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.17);
	-moz-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.17);
	box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.17);
}
.resultados p {
  margin-top: 20px;
}
.resultados p span {
  font-weight: 600;
}
#item-resultado:hover a.overlay-item {
  opacity: 1;
}
a.overlay-item {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  width: 100%;
  z-index: 999;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out; /* Safari */
  transition: all 0.3s ease-out;
  top: 0;
  left: 0;
  text-decoration: none !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
a.overlay-item p {
  background-color: white;
  display: block;
  padding: 5px;
  width: 90px;
  margin-left: auto;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid rgb(255, 104, 29);
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 104, 29);
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
  margin-top: 100px;
  text-decoration: none !important;
}
.ofertados {
  margin: 15px 0;
}
.item-producto img {
  width: 60px;
  border: 1px solid rgb(216, 216, 216);
  display: inline-block;
  /* top: 0; */
  vertical-align: top;
  margin-right: 5px;
}
.item-producto-mod {
  border-bottom: 1px dashed rgb(210, 210, 210);
  padding: 20px 0;
}
.item-producto-mod img {
  border: 1px solid rgb(216, 216, 216);
  display: inline-block;
  /* top: 0; */
  vertical-align: top;
  margin-right: 5px;
}
.stock {
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
  text-align: right;
  padding: 3px;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  margin: 10px 0;
}
.ficha-producto img {
  border: none;
  width: 30px;
}
.unidades {
  margin: 10px 0;
}
.unidades input.form-control {
  max-width: 45px;
  display: inline-block;
  /* text-align: right; */
  float: right;
}
.unidades p {
  text-align: right;
  display: inline-block;
  font-size: 13px;
  margin-top: 6px;
}
.ficha-producto a {
  color: inherit;
}
.descrip-producto p {
  font-size: 12px;
}
.ficha-producto img, .ficha-producto p {
  display: inline-block;
}
.ficha-producto p {
  font-size: 12px;
  margin-top: 8px;
}
.info-producto {
  display: inline-block;
}
.nombre-producto {
  text-transform: uppercase;
  color: rgb(111, 188, 49);
  font-size: 13px;
  letter-spacing: 1px;
}
.item-producto {
  margin: 0;
  text-align: left;
}
.descuento {
  background-color: rgb(255, 105, 30);
  color: white;
  display: inline-block;
  padding: 7px 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  vertical-align: top;
  margin-right: 8px;
}
.nombre-empresa {
  text-transform: uppercase;
  color: rgb(111, 188, 49);
  font-size: 13px;
  letter-spacing: 1px;
}
.precio {
  display: inline-block;
}
.precio-oferta {
  font-family: 'Roboto Slab', serif;
}
.precio-anterior {
  color: rgb(199, 199, 199);
  font-size: 10px;
  text-decoration: line-through;
}
#item-resultado h3 {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}
.direccion p {
  background-image: url(/static/css/images/ico-direccion.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-y: 2px;
  text-align: left;
  padding-left: 45px;
  font-size: 14px;
  min-height: 38px;
}
.tiempo {
  margin-top: 20px;
  text-align: center;
}
.tiempo span {
  font-size: 12px;
}
.reloj {
  font-family: 'Roboto Slab', serif;
  background-color: rgb(111, 188, 49);
  color: white;
  border-radius: 6px;
  padding: 4px 0;
  font-size: px;
  height: 50px;
}
.reloj span {
  font-size: 15px;
  font-weight: 500;
}
.line {
  border-bottom: 1px dashed rgb(208, 208, 208);
  margin-bottom: 10px;
  margin-top: 10px;
}
.empresa {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgb(111, 188, 49);
}

.corchangulo{
    float: right;
}

.btn{
    font-family: 'Roboto Slab', serif;
    background-color: #FF681D;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #FF681D;
    padding: 5px 20px;
    /* width: 30px; */
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-bottom-left-radius: 8px;
    width: 100%;
}
