{% load staticfiles %}
<!-- Estilos General -->
<link href="{% static "css/estilos-front.css" %}" rel="stylesheet" >
<!-- Bootstrap -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<!-- Animate -->
<link href="{% static "css/animate.css" %}" rel="stylesheet" >
<!-- Fuentes -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static "css/ico.png" %}"/>
<!-- Código Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-65342797-1', 'auto');
ga('send', 'pageview');
</script> <!-- / Código Analytics -->