{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buscagro - Tu zona de ofertas agrícolas</title>
  <meta name="description" content="Servicio de geolocalización de descuentos para agroinsumos de temporada.
Inscríbete gratis. Reduce tus costos de producción. Encuentra lo que necesitas.
" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
	<script> 
        
var geocoder;
geocoder = new google.maps.Geocoder();
        
function success(position) {  
 var status = document.querySelector('#status');  
 /*status.innerHTML = "¡Le encontramos!";  */
    
 var mapcanvas = document.createElement('div');  
 mapcanvas.id = 'mapcanvas';  
 mapcanvas.style.height = '400px';  
 mapcanvas.style.width = '560px';  
  
 /*document.querySelector('#map').appendChild(mapcanvas); */  
   codeLatLng(position.coords.latitude, position.coords.longitude)  
 var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude); 
 var myOptions = {  
 zoom: 15,  
 center: latlng,  
 mapTypeControl: false,  
 navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},  
 mapTypeId: google.maps.MapTypeId.ROADMAP  
 };  
 var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);  
  
 var marker = new google.maps.Marker({  
 position: latlng,  
 map: map,  
 title:"Usted está aquí."  
 });  
}  
  
function error(msg) {  
 var status = '';  
}  
        
 function codeLatLng(lat, lng) {

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
      console.log(results)
        if (results[1]) {
         //formatted address
         //alert(results[0].formatted_address)
        //find country name
             for (var i=0; i<results[0].address_components.length; i++) {
            for (var b=0;b<results[0].address_components[i].types.length;b++) {

            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                    //this is the object you are looking for
                    city= results[0].address_components[i];
                    break;
                }
            }
        }
        //city data
        //alert(city.short_name + " " + city.long_name)
        document.querySelector('#ciudad').value = city.short_name
        console.log(city.short_name)


        } else {
          console.log("No results found");
        }
      } else {
        console.log("Geocoder failed due to: " + status);
      }
    });
  }
        
  
if (navigator.geolocation) { 
 navigator.geolocation.getCurrentPosition(success, error,{maximumAge:60000, timeout: 4000});  

} else {  
 error('Su navegador no tiene soporte para su geolocalización');  
}  
  
</script>  


	{% include 'headers.html' %}
</head>
<body>

<div id="map" style="display:none"></div>  

    
    
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        	<a class="logo-mov pulse animated" href="{% url 'home' %}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float: right; margin-right: 20px; margin-top: 30px;">
            <span class="sr-only">Toggle navigation</span>
            Menú
          </button>
          <a class="navbar-brand pulse animated no-movil" href="{% url 'home' %}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if usuario == '' %}
                <a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a></li>
              {% else %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                <li><a href="#">Bienvenido {{usuario}}</a></li>
              {% endif %}
            {% if usuario == '' %}
            <li><a href="" data-toggle="modal" data-target="#myModal">Registrarse</a></li>
            {% else %}
            <li><a data-toggle="modal" data-target="#myModal9" href="{% url 'carga_datos_modificar' %}">Modificar Datos</a></li>
            {%endif%}
            <li><a href="" data-toggle="modal" data-target="#myModal3">Contáctanos</a></li>
          </ul>
        </div>
      </div>
    </nav>
	
	<!-- MODAL REGISTRO -->
  {% include 'modal_registro.html' %}

    <!-- MODAL REGISTRO -->
    <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
  
	
	<!-- MODAL INICIAR SESION -->
  {% include 'modal_inicio_sesion.html' %}  

  <!-- MODAL RECUPERAR CONTRASEÑA -->
  {% include 'modal_recupera_clave.html' %}   

  <!-- MODAL CONTACTO -->
  {% include 'modal_contacto.html' %}    

	<!-- SLIDE 1 -->	
	<div id="slide-1" data-type="background" data-speed="10">
   		<article>
   			<div class="container">
				<div class="col-md-5 col-md-offset-7">
					<div class="busca-box">
          <h2>Beneficios</h2>
					<!--Para cuando ya hayan Ofertas <h2><span class="orange">150</span> ofertas activas</h2>-->
					<ul>
						<li>Inscripción gratuita</li>
						<li>Ofertas agrícolas según tu ubicación</li>
						<li>Notificaciones de descuentos afines a tu cultivo</li>
						<li>Cotiza en un solo lugar</li>
					</ul>
					</div>
					<a class="btn-busca" href="{% url 'buscar' %}"><span>Cotiza Aquí</span></a>
				</div>	
			</div><!-- /container -->			
		</article>		
    </div> 
	

	<!-- FRASE PRINCIPAL -->	
	<div id="frase">
		<div class="container">
			<div class="col-md-12">
				<h1><span class="orange">Geolocalización</span> de descuentos para agroinsumos</h1>
			</div>
		</div>
	</div>
	

    <!-- Buscador -->  
  <div id="buscador">
    <div class="container">
      <div class="col-md-12">
        <!--<h3>Ingresa tu búsqueda</h3>-->
        <form method="POST" action="{% url 'buscar' %}">
          <div class="form-group">                
            <div class="col-sm-5"><input name="producto" type="text" class="form-control lista-productos" id="producto" placeholder="Ingresa tu Producto" value=''></div>
            <div class="col-sm-5"><input name="ciudad" type="text" class="form-control lista-regiones" id="ciudad" placeholder="Provincia o Región" value=''></div>
          </div>
          <div class="boton col-sm-2">
                <input type="submit" value="Buscar" class="bot" name="boton">
          </div>
        </form>
      </div>
    </div>
  </div>

	<!-- CUADRO RECIBIR OFERTA -->
	<div class="container">
		<div id="ofertas-ventana" class="ofertas">
      <div class="cerrar-recibe"><a class="closeX" id="closeX" onclick='$("#ofertas-ventana").hide();'>&#10006;</a></div>
			<p>Recibe Ofertas</p>
			<form action="{% url 'guardar_email' %}" method="POST">
				<div class="form-group">                
              <input name="email" type="text" class="form-control" id="email" placeholder="Ingresa tu email" value="">
            	</div>
            	<div class="boton">
            		<input type="submit" value="enviar" class="bot" name="boton">
            	</div>
			</form>
			<!-- ENVÍO EXITOSO: activar luego de enviado el email
			<div class="envio-exitoso">¡Gracias! Pronto recibirás ofertas</div>  
			-->
      <div class="envio-exitoso" style="display:{% if mostrar == 'si' %}block{% else %}none{%endif%}" >¡Gracias! Pronto recibirás ofertas</div>
      <div class="envio-fallido" style="display:{% if existe == 'si' %}block{% else %}none{%endif%}">Ya existe su correo en nuestros registros</div>  
		</div>
	</div>




	<!-- Como Funciona -->	
	<div id="como-funciona">
		<div class="container">
			<div class="col-md-12">
				<div class="titulo-1">
					<h3 class="orange">Como Funciona</h3>
					<div class="line-tr"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="como-item col-md-3">
						<img src="{% static "css/images/ico-inscripcion.png" %}" alt="">
						<h4>Crea tu cuenta</h4>
						<p><a href="" data-toggle="modal" data-target="#myModal">Regístrate</a> en Buscagro.<br>
						¿Ya eres usurario?<br> 
						Entonces sólo debes<br> 
						<a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a>.</p>
					</div>

					<div class="como-item col-md-3">
						<img src="{% static "css/images/ico-buscar.png" %}" alt="">
						<h4>Encuentra tu oferta</h4>
						<p>Busca en tu zona el agroinsumo que necesitas (fertilizante, insecticida, riego, semillas, etc.)</p>
					</div>

					<div class="como-item col-md-3">
						<img src="{% static "css/images/ico-proveedorok.png" %}" alt="">
						<h4>Elige tu Proveedor</h4>
						<p>Selecciona la empresa más cercana, sus ofertas, condiciones y más.</p>
					</div>

					<div class="como-item col-md-3">
						<img src="{% static "css/images/ico-productos.png" %}" alt="">
						<h4>Cotiza tus Productos</h4>
						<p>Consigue de modo rápido lo que necesitas. Antes de comprar, cotiza!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Podrás Buscar -->	
	<div id="podras-buscar">
		<div class="titulo-2">
			<h3>Podrás Buscar</h3>
			<div class="line-tr2"></div>
		</div>
		<div class="container">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row diagrama">
					<div class="cont-nube"><img src="{% static "css/images/ico-buscagro.png" %}" alt=""><p>¡Filtra tus ofertas según ubicación y necesidades!</p></div>
					<div class="col-xs-6 col-md-6 diag-left">
						<div class="item-diag margin2"><p>Herramientas</p><img src="{% static "css/images/ico-herramientas.png" %}" alt=""></div>
						<div class="item-diag margin1"><p>Maquinaria</p><img src="{% static "css/images/ico-maquinaria.png" %}"  alt=""></div>
						<div class="item-diag"><p>Laboratorio</p><img src="{% static "css/images/ico-laboratorio.png" %}" alt=""></div>
						<div class="item-diag"><p>Fitorreguladores</p><img src="{% static "css/images/ico-fitorreguladores.png" %}"  alt=""></div>
						<div class="item-diag margin1"><p>Vivero</p><img src="{% static "css/images/ico-bioestimulantes.png" %}" alt=""></div>
						<div class="item-diag margin2"><p>Riego</p><img src="{% static "css/images/ico-riego.png" %}" alt=""></div>
					</div>
					<div class="col-xs-6 col-md-6 diag-right">
						<div class="item-diag margin2"><img src="{% static "css/images/ico-fertilizantes.png" %}" alt=""><p>Fertilizantes</p></div>
						<div class="item-diag margin1"><img src="{% static "css/images/ico-herbicidas.png" %}" alt=""><p>Herbicidas</p></div>
						<div class="item-diag"><img src="{% static "css/images/ico-insecticidas.png" %}" alt=""><p>Insecticidas</p></div>
						<div class="item-diag"><img src="{% static "css/images/ico-fungicidas.png" %}" alt=""><p>Fungicidas</p></div>
						<div class="item-diag margin1"><img src="{% static "css/images/ico-acaricidas.png" %}" alt=""><p>Acaricidas</p></div>
						<div class="item-diag margin2"><img src="{% static "css/images/ico-semillas.png" %}" alt=""><p>Semillas</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Podrás Buscar -->	
	<div id="geolocaliza">
		<div class="titulo-2">
			<div class="container">
			<div class="col-md-12">
				<h3><span class="orange">¡Geolocaliza</span> tus ofertas ahora!</h3>
				<a class="btn-general" href="{% url 'buscar' %}">Busca aquí</a>
			</div>
			</div>
		</div>
	</div>

	<!-- Algunos Comentarios -->	
	<div id="comentarios">
		<div class="container">
			<div class="col-md-12">
				<div class="titulo-1">
					<h3 class="orange">Algunos comentarios</h3>
					<div class="line-tr"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="coment-item col-md-4">
						<p>“Es una gran herramienta para encontrar agroinsumos a buenos precios”</p>
						<h4>Francisco Campos</h4>
						<span>Gerente General</span> <span class="orange">Agroindustria</span>
					</div>

					<div class="coment-item col-md-4">
						<p>“Nos facilita la búsqueda de ofertas cercana a nuestro campo”</p>
						<h4>Juan Pablo Flores</h4>
						<span>Agricultor</span> <span class="orange">Región Metropolitana</span>
					</div>

					<div class="coment-item col-md-4">
						<p>“Tiene todo para convertirse en las <i>Páginas Amarillas</i> del Agro Moderno”</p>
						<h4>Patricio Irarrázaval</h4>
						<span>Agricultor</span> <span class="orange">Quinta Región</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Slide 2 -->	
	<div id="slide-2" data-type="background" data-speed="10">
   		<article>	
		</article>		
    </div> 

    <!-- Info -->	
	<div id="info">
		<div class="titulo-2">
			<h3>¿Quieres más información?</h3>
			<div class="line-tr2"></div>
		</div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 info-item">
				<p>(+56 9) 97921456 ó <a href="mailto:contacto@buscagro.com">contacto@buscagro.cl</a></p>
				<a class="btn-general" href="#">Contáctanos</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
  <footer>
    <div class="container">
      <div class="col-md-7">
        <ul class="">
          <li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
          <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a></li>
          <li><a href="{% url 'politicas' %}">Políticas de Privacidad</a></li>
        </ul>
        <img src="{% static "css/images/startup-chile1.jpg" %}" alt="" style="height: 50px;">
        
      </div><!--/ col -->
      <div class="col-md-5">
        <div class="redes">
          <a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" class="ico-facebook" target="_blank"></a>
          <a href="https://twitter.com/buscagrochile" class="ico-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCIHAgKKjoHNbBzBr2M6WXfQ" class="ico-youtube" target="_blank"></a>
        </div>
        <div class="buscagro">
          <p><span>Buscagro</span> Todos los derechos reservados</p>
        </div>
        <div class="vanilla">
          <p>desarrollado por <a href="http://www.vanilla.cl" target="_blank">Vanilla Diseño</a></p>
       </div>
            
     </div>
    </div>
  </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.js" %}"></script>
    <script src="{% static "js/registro.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>

    <script>
    	jQuery(function($) {
			$('.diag-left .item-diag').waypoint(function() {
			   $('.diag-left .item-diag').addClass( 'bounceInLeft animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});

		jQuery(function($) {
			$('.diag-right .item-diag').waypoint(function() {
			   $('.diag-right .item-diag').addClass( 'bounceInRight animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});
    </script>

    <script>
    $(function(){
	    $(".btn-registro").on('click', function(e){
	    	e.preventDefault();

			$('#myModal2').modal("hide");
			$('#myModal').modal('show'); 
		});
	});
    </script>

    <script>
    $(function(){
      $(".btn-olvidar").on('click', function(e){
        e.preventDefault();

        $('#myModal2').modal("hide");
        $('#myModal8').modal('show'); 
      });
    });
    </script>
</body>
</html>
