{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mapa y ofertas en Buscagro</title>
	<meta name="description" content="En tu zona encuentra: herramientas, maquinaria, laboratorio, semillas, fitorreguladores bioestimulantes, fertilizantes, herbicidas, insecticidas, fungicidas, acaricidas." />
	 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 {% include 'headers.html' %}
  <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
  <link href="{% static "css/jquery.countdown.css" %}" rel="stylesheet"> 
  <link href="{% static "css/animate.css" %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    
</head>
<body>
	

	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        	<a class="logo-mov pulse animated" href="{%url 'home'%}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float: right; margin-right: 20px; margin-top: 20px;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand pulse animated no-movil" href="{%url 'home'%}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if usuario == '' %}
                <a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a></li>
              {% else %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                <li><a href="#">Bienvenido {{usuario}}</a></li>
              {% endif %}
              {% if usuario == '' %}
            <li><a href="" data-toggle="modal" data-target="#myModal">Registrarse</a></li>
            {% else %}
            <li><a data-toggle="modal" data-target="#myModal9" href="{% url 'carga_datos_modificar' %}">Modificar Datos</a></li>
            {%endif%}
            <li><a href="" data-toggle="modal" data-target="#myModal3">Contáctanos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
	
	 <!-- MODAL REGISTRO -->
  {% include 'modal_registro.html' %}
  
  <!-- MODAL INICIAR SESION -->
  {% include 'modal_inicio_sesion.html' %}  

  <!-- MODAL CONTACTO -->
  {% include 'modal_contacto.html' %}

	<div class="container-fluid">
		
		<div class="col-md-6">
			<div class="panel-filtros">
        

				<form method="POST" action="{% url 'buscar' %}" id="formulario-buscar">
          <div class="form-group">                
            <div class="col-sm-4">
              <input name="producto" type="text" class="form-control lista-productos" id="producto" placeholder="Ingresa tu Producto" value='{{producto_seleccionado}}'>
            </div>
            <div class="col-sm-5">
              <input name="ciudad" type="text" class="form-control lista-regiones" id="ciudad" placeholder="Provincia o Región" value='{{region_provincia_seleccionada}}'>
            </div>
          </div>
          <input type="hidden" name="id-oferta-mapa" value="" class="id-oferta-form"/>
          <div class="boton col-sm-3">
                <input type="submit" value="Buscar" class="bot" name="boton">
          </div>
        </form>

        <div class="col-sm-12 filtros">
            <div class="filtros-zona"><p>En esta zona también encontrarás:</p></div>
            <div style="padding-bottom: 20px;" class="row">
              {% for key,values in categorias.items %}
                <form method="POST" action="{% url 'buscar_por_categoria' %}" id="formulario-buscar-categoria-{{key}}">
                  <div class="boton_buscar_por_categoria  col-sm-2 col-xs-4" id="{{key}}" style="float: left; display: inline;"><a href="#">{{values}}</a></div>
                  <input type="hidden" name="categoria" value="{{key}}" />
                  <input type="hidden" name="producto" value="{{producto_seleccionado}}" />
                  <input type="hidden" name="region-provincia" value="{{region_provincia_seleccionada}}" />
                </form>
              {% endfor %}
              </div>
        </div>
        <div class="clear"></div>
			</div>
			<div class="panel-resultados">
        {% if numero_resultados %}
        <div class="resultados">
          <p>Tu búsqueda ha obtenido: <span>{{numero_resultados}}</span> resultados</p>
        </div>
        
        {% endif %}
          {% for key,values in ofertas.items %}
          <div id="item-resultado" class="test-{{forloop.counter}}">
            <div class="col-sm-5">
              <h3>{{key.sucursal.nombre}}</h3>
              <div class="direccion">
                <i></i>
                <p>{{key.sucursal.direccion}}</p>
              </div>
              <div class="tiempo">
                <span>Estas ofertas terminan en</span>
                <div class="reloj">
                  <i></i>
                  <span><div id="defaultCountdown-{{key.id}}"></div></span>
                </div>
                {{key.count}} Visitas <i class="fa fa-eye"></i>
              </div>
            </div>
            <div class="col-sm-7 ofertados">
              {% for v in values %}
              <div class="item-producto">
                <img src="/static/media/{{v.producto.foto_producto}}" alt="" class="img-responsive">
                <div class="info-producto">
                  <div class="nombre-producto">{{v.producto.nombre}}</div>
                  <div class="descuento">{{v.porcentaje_descuento}}%</div>
                  <div class="envase">Envase de {{v.envoltorio}}</div>
                </div>
              </div>
              <div class="line"></div>
              {% endfor %}
            </div>
                  <!-- Button trigger modal -->

           
            <a  href="{% url 'oferta_vermas' %}?oferta={{key.id}}" data-toggle="modal" data-target="#myModal4" class="modal-ver-mas {% if usuario == '' %}no-esta-logeado{%endif%} overlay-item ver-oferta" id="{{key.id}}">
              <p>ver +</p>
              
            </a>
            <div class="clear"></div>
          </div>
          {% endfor %}          
      </div>
      
   


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <!-- MODAL CONTACTO -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- Footer -->
  <footer>
    <div class="container">
      <div class="col-md-7">
        <ul class="">
          <li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
          <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a></li>
          <li><a href="{% url 'politicas' %}">Políticas de Privacidad</a></li>
        </ul>
        <img src="{% static "css/images/startup-chile1.jpg" %}" alt="" style="height: 50px;">
        
      </div><!--/ col -->
      <div class="col-md-5">
        <div class="redes">
          <a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" class="ico-facebook" target="_blank"></a>
          <a href="https://twitter.com/buscagrochile" class="ico-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCIHAgKKjoHNbBzBr2M6WXfQ" class="ico-youtube" target="_blank"></a>
        </div>
        <div class="buscagro">
          <p><span>Buscagro</span> Todos los derechos reservados</p>
        </div>
        <div class="vanilla">
          <p>desarrollado por <a href="http://www.vanilla.cl" target="_blank">Vanilla Diseño</a></p>
       </div>
            
     </div>
    </div>
  </footer>
		</div>
		
		
		
		
		
		
		
<div class="row comment" style="z-index: 100;">
<a id="example1" rel="popover" data-original-title="Duda" data-placement="top" style="cursor:pointer"><i class="fa fa-comments" title="Chat"></i> </a>


<!--
<a data-container="body" data-toggle="popover" data-placement="top">
  <i class="fa fa-comments"></i> 
</a>-->
</div>


<div id="popover_content_wrapper" style="display: none">
  <div id="box_alert_aporte">
   <div class="alert alert-info" id="alert_aporte" role="alert" style="display:none"> Mensaje Enviado, en breve nos contactaremos con ud.</div>
    </div>

   <!--<form action="/addAporte/" method="post" id="addaporte"> {% csrf_token %}-->
   <div id="contenido_aporte">
    <input type="email" class="form-control" name="user" id="user" value="" placeholder="Email" >
    

    <div class="row" style="padding-bottom:20px">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <textarea name="aporte" id="aporte" cols="25" rows="10" placeholder="Duda o comentario"></textarea>
        </div>
    </div>

    
    
    
    <div class="row" style="padding-top:20px; text-align:right">
       <div class="col-xs-12 col-sm-12 col-md-12">
        <button type="" class="btn" id="btn_aporte" style="padding:5px">Enviar</button>
        </div>
    </div>
    </div>
    <!--</form>-->

</div>
        
        
        
        
        
        

		<div class="col-md-6 visible-md visible-lg sidebar-map">
			<div style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden;" id="map" class="map">
				<div id="mapa" style="width:680px;height:580px;"></div>
        <!--<iframe src="https://www.google.com/maps/d/embed?mid=zTcX1iw_PLu4.kYDonezfdidI" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>-->
			</div>
		</div>

	</div>
	
	<style>
    
    
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Comment (suggest/idea) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.comment {
    position: fixed;
    left: 95%;
    bottom: 0px;
    width: 100%;
}

.comment i {
    font-size: 40px;
    position: relative;
    color: #6edd00;
}

.center {
    margin: 100px auto;
    width: 30px;
}

.opinion {
    /*width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #D1D1D1;*/
    font-size: 24px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    
}

.opinion a {
        color: #ea003f
    }

.opinion-icon .fa-star {
        color: #5D6064
    }

.opinion-active {
    background: #ea003f;
    cursor: pointer;
    a {
        color: #f8f8f8;
        text-decoration: none
    }
}


/* The element to hover over Borrar y cambiar porque se mantenga*/

.qs {
    cursor: default;
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
        
}

.qs &:hover .popover {
            display: block;
            -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

 .qs .popover {
        top: -250px;
        left: -220px;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.85);
        bottom: 42px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        color: #fff;
        //display: none;
        font-size: 12px;
        padding: 7px 10px;
        &:before {
            border-top: 7px solid rgba(0, 0, 0, 0.85);
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            bottom: -7px;
            content: '';
            display: block;
            left: 89%;
            margin-left: -7px;
            position: absolute;
        }
    }



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of comment (suggest/idea) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

        
    </style>


	


	

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?AIzaSyCGWzA69ersvYVvkY-AFI1wZPE8OAW4Hcc&sensor=false"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.js" %}"></script>
    <script src="{% static "js/maps.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}" ></script>
    <script src="{% static "js/jquery.countdown-es.js" %}" ></script>
    <script src="{% static "js/utils.js" %}" ></script>

    <script>
      jQuery(function($) {
      $('.diag-left .item-diag').waypoint(function() {
         $('.diag-left .item-diag').addClass( 'bounceInLeft animated' );
      },
      {
      offset: '70%',
      triggerOnce: true
      });
    });

    jQuery(function($) {
      $('.diag-right .item-diag').waypoint(function() {
         $('.diag-right .item-diag').addClass( 'bounceInRight animated' );
      },
      {
      offset: '70%',
      triggerOnce: true
      });
    });
    </script>

    <script>
    $(function(){
      $(".btn-registro").on('click', function(e){
        e.preventDefault();

      $('#myModal2').modal("hide");
      $('#myModal').modal('show'); 
    });      
    $(document).on('click',"#btn_aporte",function(){

        var user = $('#user').val()
        var aporte = $('#aporte').val()

            $.ajax({
                url: "/sendmail/",
                data: { user:user, aporte: aporte, csrfmiddlewaretoken:'{{csrf_token}}'},
                dataType: "json",
                cache: false,
                success: function(data) {
                    if(data["status"]=="OK"){
                        
                        var aporte_height = $("#contenido_aporte").height();
                        $("#contenido_aporte").css('display', 'none')
                        $("#alert_aporte").css('display', '')
                        
                        $("#box_alert_aporte").css('height', aporte_height)
                        
                    }
                    return false;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                },
                crossDomain: false,
                type: "POST",
            })                                    
                                                   
    })
    
            var isVisible = false;
            var clickedAway = false;        
        

        $('.popover-test').popover();
        
            $('[rel=popover]').popover({ 
                html : true, 
                
                content: function() {
                  return $('#popover_content_wrapper').html();
                }
            }).click(function(e) {
                    $(this).popover('show');
                    $('.popover-title').append('<button type="button" id="chatclose" class="close">&times;</button>');  
                    clickedAway = false
                    isVisible = true
                    e.preventDefault()
                });
       
            
        $(document).click(function(e) {

		if ($(e.target).attr("id") == "chatclose" ){
		  $('[rel=popover]').popover('hide')
		}
		/* if(isVisible & clickedAway)
              {
		console.log($(this).id)
                $('[rel=popover]').popover('hide')
                isVisible = clickedAway = false
              }
              else
              {
                clickedAway = true
              } */
            });
        

        
    /*$(".ver-oferta").on('click', function(e){
        e.preventDefault();
        console.log('holaaa')
        {% url 'oferta_vermas' %}?oferta={{key.id}}
        window.location.href = "{% url 'oferta_vermas' %}?oferta=" + $(this).attr("id");
    });*/
  });
    </script>
    <script type="text/javascript">

 function liftOff() { 
    alert('La oferta ha terminado'); 
   


} 
var ofertas_mapa = '{{ofertas_mapa|safe}}'
var lista_empresas_mapa = jQuery.parseJSON( ofertas_mapa );

function reloj_vermas(e,objeto){
  for(var i=0;i<objeto.length;++i){
      var fec_liquidacion = new Date(objeto[i].year_fin, objeto[i].month_fin-1, objeto[i].day_fin, objeto[i].hour_fin,objeto[i].minute_fin,0);
      console.log(objeto[i].id_oferta)
      $('#defaultCountdown-vermas-'+objeto[i].id_oferta).countdown({until: fec_liquidacion,
                onExpiry: liftOff, 
                alwaysExpire: true}); 
  }
}

$(document).ready(function(){
  
  
  var tiempos = '{{tiempos|safe}}'
  var obj = jQuery.parseJSON( tiempos );
  for(var i=0;i<obj.length;++i){
    var fec_liquidacion = new Date(obj[i].year_fin, obj[i].month_fin-1, obj[i].day_fin, obj[i].hour_fin,obj[i].minute_fin,0);

    $('#defaultCountdown-'+obj[i].id_oferta).countdown({until: fec_liquidacion,
                onExpiry: liftOff, 
                alwaysExpire: true}); 
  }
  
  $('#myModal4').on('loaded.bs.modal',function(e){reloj_vermas(e,obj)});
  $('#myModal4').on('hidden.bs.modal',function(e){location.reload();});
  


})
</script>
</body>
</html>
