<select class="registro registro-provincias" name="provincia-empresa">
	<option value="0">Seleccione una provincia</option>
	{% for p in provincias %}
	<option value="{{p.id}}">{{p.nombre}}</option>
	{% endfor %}
</select>