<select class="registro registro-comunas" name="comuna-empresa">
	<option>Seleccione una comuna</option>
	{% for c in comunas %}
	<option value="{{c.id}}">{{c.nombre}}</option>
	{% endfor %}
</select>