{% load staticfiles %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-title" id="myModalLabel"><h3>Regístrate</h3></div>
            <div class="cargo">Completando estos simples datos podrás acceder a grandes descuentos para tus agroinsumos de forma geolocalizada. ¡No pierdas esta oportunidad! Registrarte solo te tomará un minuto!</div>
          </div>
          <div class="modal-body">

          <form class='contacto registro-form'>
          	<div class="grupo-form col-sm-12">
          		<h4>1. Datos Empresa</h4>
          		
          		<span>Ingrese los datos referentes a su compañia, estos serán necesarios para identificar a su empresa frente a distribuidores y proveedores.</span>
          		
          		
          	</div>
            <div class="form-group ">                
                <div class="col-sm-6"><input name="razon-social" type="text" class="form-control" id="razon-social" placeholder="Razón Social"value=''></div>

                <div class="col-sm-6"><input name="rut-empresa" type="text" class="rut_validador form-control" id="rut-empresa" placeholder="Rut Empresa" value=''></div>
            </div>
            <div class="form-group">   
            	<div class="col-sm-6"><input name="telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono" value=''></div>

                <div class="col-sm-6"><input name="direccion" type="text" class="form-control" id="direccion" placeholder="Dirección Empresa" value=''></div>

				<div class="col-sm-4">
                    <select class="registro registro-regiones" name="region-empresa">
              <option class="fondo-negro" value="0">Seleccione una región</option>
              {% for r in regiones %}
		       			<option class="fondo-negro" value="{{r.numero}}">{{r.nombre}}</option> 
		  				{% endfor %}		  				
              }
					</select>
				</div>
				
				<div class="col-sm-4 listado-provincias">
					<select class="registro registro-provincias" name="provincia-empresa">
			 			<option value="0">Seleccione una provincia</option>
					</select>
				</div>	
				<div class="col-sm-4 listado-comunas">
					<select class="registro registro-comunas" name="comuna-empresa">
			  			<option>Seleccione una comuna</option>
					</select>
        </div>    
            </div>
            <div class="grupo-form col-sm-12 mar-top">
          		<h4>2. Datos Usuario</h4>
          		
          		<span>El correo que ingrese será al cual se le enviarán las notificaciones de ofertas, reportes o compras.</span>
          		
          	</div>
            <div class="form-group">                  
                    <div class="col-sm-6"><input name="usuario" type="text" class="form-control" id="usuario" placeholder="Nombre de Usuario" value=''></div>
                    <div class="col-sm-6"><input name="password" type="text" class="form-control" id="password" placeholder="Contraseña" value=''></div>
                    <div class="col-sm-6"><input name="email" type="email" class="form-control" id="email" placeholder="Email" value=''></div>
                    <div class="col-sm-6"><input name="confirma-email" type="email" class="form-control" id="confirma-email" placeholder="Confirma tu Email" value=''></div>
            </div>
            
            <div class="grupo-form col-sm-12 mar-top">
          		<h4>3. Datos Explotación</h4>
          		
          		<span>Ingresa las especies y/o cultivos que presentas, nos ayudará a personalizar el servicio.</span>
          		
          	</div>
          <div class="explota form-group col-sm-offset-2 col-sm-4"> 
            <div class="tit-explota"><img src="{% static "css/images/ico-frutales.png" %}" alt=""><h3>Frutales</h3></div>

            <input type="checkbox" name="option-frutales" value="Carozos"> Carozos<br>
  					<input type="checkbox" name="option-frutales" value="Frutos Secos"> Frutos Secos<br>
  					<input type="checkbox" name="option-frutales" value="Pomaceas"> Pomaceas<br>
  					<input type="checkbox" name="option-frutales" value="Berries"> Berries<br>
  					<input type="checkbox" name="option-frutales" value="Citricos"> Cítricos<br>
  					<input type="checkbox" name="option-frutales" value="Uva de Mesa"> Uva de Mesa<br>
  					<input type="checkbox" name="option-frutales" value="Uva Vinifera"> Uva Vinífera<br>
					  <input name="h-frutales" type="text" class="form-control" id="h-frutales" placeholder="Nº Hectáreas Totales" value=''>
          </div>
            
          <div class="explota form-group col-sm-4"> 
            <div class="tit-explota"><img src="{% static "css/images/ico-semillas.png" %}" alt=""><h3>Semillas</h3></div>                  
            <input type="checkbox" name="option-semillas" value="Maiz"> Maiz<br>
  					<input type="checkbox" name="option-semillas" value="Forrajeras"> Forrajeras<br>
  					<input type="checkbox" name="option-semillas" value="Hortalizas"> Hortalizas<br>
  					<input type="checkbox" name="option-semillas" value="Cereales"> Cereales<br>
  					<input name="h-semillas" type="text" class="form-control" id="h-semillas" placeholder="Nº Hectáreas Totales" value=''>
          </div>
           
           
            <div class="grupo-form boton-form mar-top col-sm-12">
            	<input type='submit' value='registrar' class='btn-general boton-registrar' name='boton'>
            </div>
            <div class="clear"></div>
            
        </form>

          </div>
        </div>
      </div>
    </div>