{% load staticfiles %}
<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body">
          <!--empresa-->
          <div class="empresa">
            <div class="col-sm-3">
              <img src="http://www.buscagro.cl/static/media/fotos_empresas/{{oferta.sucursal.empresa.filename}}" alt="" class="img-responsive empresa-modal">
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-12">
                  <h3>{{oferta.sucursal.nombre}}</h3>
                  <div class="direccion">
                    <i></i>
                    <p>{{oferta.sucursal.direccion}}</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="despacho">
                    <span>Condiciones:</span>
                    <p>{{oferta.texto_despacho}}</p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <!--<div class="tiempo">
                    <span>Estas ofertas terminan en</span>
                    <div class="reloj">
                      <i></i>
                      <span><div id="defaultCountdown-vermas-{{oferta.id}}"></span>
                    </div>
                  </div>-->
                </div>
                
              </div>
            </div><!-- / col-->
            <div class="clear"></div>
          </div><!-- / empresa-->
          <form action="{%url 'envia_cotizacion'%}" method="POST" target="_top">
          <div class="productos">
            <!-- item producto mod -->
            {% for lp in lista_productos %}
            <div class="item-producto-mod">
              <div class="col-sm-3">
                <img src="/static/media/{{lp.producto.foto_producto}}" alt="" class="img-responsive prod-modal">
              </div>
              <div class="col-sm-5">
                <div class="nombre-producto">{{lp.producto.nombre}}</div>
                <div class="descrip-producto"><p>{{lp.descripcion}}</p></div>
                <div class="ficha-producto">
                  <a href="/static/media/{{lp.producto.archivo_pdf}}"><img src="{% static "css/images/pdf.png" %}" alt=""><p>Ver Ficha Técnica</p></a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="costo">
                  <div class="descuento">{{lp.porcentaje_descuento}}%</div>
                  <div class="precio">
                    <div class="precio-oferta">Envase de {{lp.envoltorio}}</div>
                  </div>
                </div>
                <div class="stock">
                  Stock limitado
                </div>
                <div class="unidades">
                  <p>Unidades a cotizar</p>
                  <input name="unidades-prod-{{lp.id}}" type="text" class="form-control" id="unidades-prod-{{lp.id}}" placeholder="0" value=''>
                  <input type="hidden" name="producto-cotizar" value="{{lp.id}}">
                </div>
              </div>
              <div class="clear"></div>
            </div><!-- / item producto mod -->
            {% endfor %}
                      
            <div class="realiza-compra">
              <!--<div class="col-sm-8">
                <ul>
                  <li><span>1. </span>Ingresa la cantidad de unidades de los productos que te interesan</li>
                  <li><span>2. </span>Pincha el boton Continuar Compra</li>
                  <li><span>3. </span>Sigue los pasos para finalizar la compra y optener tus productos</li>
                </ul>
              </div>-->
              <div class="col-sm-12">
              </div>
              <h3 align="center"><strong>¿Cómo quieres Cotizar?</strong></h3>
              <!--<div class="col-sm-12 boton">
                <form action="">
                        <input type="submit" value="Comprar" class="bot" name="boton">
                </form>
              </div>-->

              <!-- FORMAS DE PAGO -->
              <div id="formas-pago">
                <div class="col-sm-6 mar-top">
                  <div align="center"></div>
                  <h3>Contacto Telefónico</h3>
                  <p>Llama y habla directamente con el vendedor:</p>
                  <div align="center"><a href="">{{oferta.sucursal.telefono}}</a> </div>
                </div>
                
                <div class="col-sm-6 mar-top">
                  <div align="center"></div>
                  <h3>Respuesta a mi Mail</h3>
                  <p>Selecciona las cantidades que necesitas y enviala al vendedor:</p>
                  <div class="col-sm-12 boton">
                    
                      <input type="hidden" name="id-oferta" value="{{oferta.id}}">
                      <input type="submit" value="Enviar Cotización" class="bot" name="boton">
                    
                  </div>
                  <div class="clear"></div>
                </div><!-- / FORMAS DE PAGO -->

                <div class="clear"></div>
              </div><!-- / FORMAS DE PAGO -->

              <div class="clear"></div>
            </div>
          </div><!-- / productos -->
          </form>
          </div><!-- / modal body -->
