{% load staticfiles %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-title" id="myModalLabel"><h3>Modifica tu información</h3></div>
            <div class="cargo">Puedes modificar los datos de la sección Datos Usuario.</div>
          </div>
          <div class="modal-body">

            <form action="{% url 'modificaregistro' %}" method="POST">
              <div class="grupo-form col-sm-12 mar-top">
            		<h4>Datos Usuario</h4>
            		
            		<span>El correo que ingrese será al cual se le enviarán las notificaciones de ofertas, reportes o compras.</span>
            		
            	</div>
              <div class="form-group">                  
                <div class="col-sm-6"><input name="usuario" type="text" class="form-control usuario-modifica" id="usuario" placeholder="Nombre de Usuario" value='{{productor.username}}'></div>
                <div class="col-sm-6"><input name="password" type="password" class="form-control password-modifica" id="password" placeholder="Contraseña" value='{{productor.password}}'></div>
                <div class="col-sm-6"><input name="email" type="email" class="email-modifica form-control" id="email" placeholder="Email" value='{{productor.email}}'></div>
                <div class="col-sm-6"><input name="confirma-email" type="email" class="form-control" id="confirma-email" placeholder="Confirma tu Email" value='{{productor.email}}'></div>
                <input type="hidden" name="id-productor" class="id-productor-modifica" value="{{productor.id}}" />
              </div>
           
              <div class="grupo-form boton-form mar-top col-sm-12">
              	<input type='submit' value='modificar' class='btn-general boton-modificar-datos'>
              </div>
              <div class="clear"></div>
            </form>
          </div>
   