{% load staticfiles %}
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-title" id="myModalLabel"><h3>Inicia Sesión</h3></div>
            <div class="cargo">Si ya eres usuario registrado comienza tu búsqueda ingresando tus datos.</div>
          </div>
          <div class="modal-body">

          <form class='contacto' method='POST' action='{% url 'login'%}'>
            <div class="form-group">                  
                    <div class="col-sm-6"><input name="usuario" type="text" class="form-control" id="usuario" placeholder="Nombre de Usuario" value=''></div>
                    <div class="col-sm-6"><input name="password" type="text" class="form-control" id="password" placeholder="Contraseña" value=''></div>
                    <div class="col-sm-12">
                    	<span>
                    		<a class="btn-olvidar" href="">¿Olvidaste tu contraseña?</a> / 
                    		<a class="btn-registro" href="">¿No estas registrado?</a>
                    	</span>
                    </div>
            </div>
            

           
            <div class="grupo-form boton-form mar-top col-sm-12">
            	<input type='submit' value='buscar descuentos' class='btn-general' name='boton'>
            </div>
            <div class="clear"></div>
            
        </form>

          </div>
        </div>
      </div>
    </div>