{% load staticfiles %}
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-title" id="myModalLabel"><h3>RECUPERAR CONTRASEÑA</h3></div>
            <div class="cargo">Ingresa tu email para verificar si eres usuario y enviarte tu contraseña.</div>
          </div>
          <div class="modal-body">

          <form class='contacto' method='POST' action='{% url 'recuperapassword' %}'>
            <div class="form-group">                  
                    <div class="col-sm-6"><input name="email" type="text" class="form-control" id="usuario" placeholder="Email inscrito en Buscagro" value=''></div>
                    <div class="col-sm-12">
                      <span>
                        <a class="btn-registro" href="">¿No estas registrado?</a>
                      </span>
                    </div>
            </div>
            

           
            <div class="grupo-form boton-form mar-top col-sm-12">
              <input type='submit' value='recuperar contraseña' class='btn-general' name='boton'>
            </div>
            <div class="clear"></div>
            
        </form>

          </div>
        </div>
      </div>
    </div>