{% load staticfiles %}
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-title" id="myModalLabel"><h3>Contáctanos</h3></div>
            <div class="cargo">¿Tienes dudas o requieres más información de nuestra plataforma? Completa los siguientes datos y te contactaremos.</div>
          </div>
          <div class="modal-body">

          <div class="envio-ok" style="display:none">
          	<h4>¡Gracias por contactarnos!</h4>
          	<span>Pronto te responderemos tus dudas o comentarios.</span>
          </div>

          <form class='contacto' method='POST' action='{% url 'contacto' %}'>
            <div class="form-group">                  
                    <div class="col-sm-12">
                    	<input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" value=''>
                    </div>
                    <div class="col-sm-12">
                    	<input name="telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono" value=''>
                    </div>
                    <div class="col-sm-12">
                    	<input name="email" type="email" class="form-control" id="email" placeholder="Email" value=''>
                    </div>
                    <div class="col-sm-12">
                    	<textarea name="mensaje" class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
                    </div>

            </div>
            

           
            <div class="grupo-form boton-form mar-top col-sm-12">
            	<input type='submit' value='enviar' class='btn-general' name='boton'>
            </div>
            <div class="clear"></div>
        <div class="row datos-form">
        <div class="col-md-12">
        	<h4>También puedes contactarnos directamente en:</h4>
        	<p>(+56 9) 97921456 ó <a href="mailto:contacto@buscagro.com">contacto@buscagro.cl</a></p>
        </div>
        </div>
        
        </form>


          </div>
        </div>
      </div>
    </div>