{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Politicas de Privacidad - Buscagro</title>
  <meta name="description" content="Información de identificación personal. ¿Cómo protegemos su información?
Compartir su información personal. Cambios en esta política de privacidad.
" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'headers.html' %}
</head>
<body>
	

	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        	<a href="{%url 'home'%}" class="logo-mov pulse animated">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float: right; margin-right: 20px; margin-top: 20px;">
            <span class="sr-only">Toggle navigation</span>
            Menú
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand pulse animated no-movil" href="{% url 'home' %}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if usuario == '' %}
                <a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a></li>
              {% else %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                <li><a href="#">Bienvenido {{usuario}}</a></li>
              {% endif %}
            <li><a href="" data-toggle="modal" data-target="#myModal">Registrarse</a></li>
            <li><a href="" data-toggle="modal" data-target="#myModal3">Contáctanos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<!-- MODAL REGISTRO -->
  {% include 'modal_registro.html' %}
  
  <!-- MODAL INICIAR SESION -->
  {% include 'modal_inicio_sesion.html' %}   

  <!-- MODAL CONTACTO -->
  {% include 'modal_contacto.html' %} 

	
	<!-- FRASE PRINCIPAL -->	
	<div id="frase-nueva">
		<div class="container">
			<div class="col-md-12">
				<h1><span class="orange">Políticas de Privacidad</h1>
			</div>
		</div>
	</div>

<!-- CONTENIDO INTERIOR -->  
  <div id="cont-interior" class="mar-top">
    <div class="container">
      <div class="col-md-12">
           
                <p>Esta Política de Privacidad rige la manera en que Buscagro recopila, utiliza, mantiene y divulga la información recogida de los usuarios (cada uno, un "Usuario") del sitio web www.buscagro.cl ("Sitio"). Esta política de privacidad se aplica al Sitio y todos los servicios ofrecidos por Buscagro.</p>
                <h5>Información de identificación personal</h5>
                <p>Podemos recopilar información de identificación personal de los usuarios en una variedad de maneras, incluyendo, pero no limitado a, cuando los usuarios visitan nuestro sitio, se registran en el sitio, y en relación con las actividades de otros, servicios, funciones o recursos que ponen a disposición en nuestro sitio. Los usuarios pueden pedir, en su caso, nombre, dirección de correo electrónico. Vamos a recoger información de identificación personal de los usuarios sólo si voluntariamente presentar esa información a nosotros. Los usuarios siempre pueden negarse a suministrar información de identificación personal, excepto cuando involucre la participación en ciertas actividades relacionadas con el sitio.</p>
                <h5>Información de identificación no personal</h5>
                <p>Podemos recopilar información de identificación no personal sobre los usuarios cuando interactúan con nuestro sitio. Información de identificación no personal puede incluir el nombre del navegador, el tipo de equipo e información técnica sobre los usuarios mediante la conexión a nuestro sitio, tales como el sistema operativo y los proveedores de servicios de Internet utilizados y otra información similar.</p>
                <h5>¿Cómo protegemos su información?</h5>
                <p>Adoptamos las prácticas adecuadas de registro, almacenamiento y procesamiento, y las medidas de seguridad para proteger contra el acceso no autorizado, alteración, divulgación o destrucción de su información personal, nombre de usuario, contraseña, información de transacciones y los datos almacenados en nuestro Sitio.</p>
                <p>La información proporcionada por los usuarios se rige estrictamente por la Ley 19.628 sobre Protección de la Vida Privada y Datos de Carácter Personal.</p>
                <h5>Compartir su información personal</h5>
                <p>Nosotros no vendemos información de identificación personal a terceros. Podemos compartir información demográfica agregada y genérica no vinculada a ninguna información de identificación personal sobre los visitantes y usuarios con nuestros socios comerciales, afiliados y anunciantes de confianza.</p>
                <h5>Cambios en esta política de privacidad</h5>
                <p>Buscagro tiene la facultad de actualizar esta política de privacidad en cualquier momento. Cuando lo hacemos, usted puede revisar la fecha de la última actualización en la parte inferior de esta página. Recomendamos a los usuarios a comprobar con frecuencia esta página para cualquier cambio para mantenerse informado acerca de cómo estamos ayudando a proteger la información personal que recopilamos.</p>
                <p>Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones.</p>
                <h5>Su aceptación de estos términos</h5>
                <p>Al usar este Sitio, usted expresa su aceptación de esta política. Si usted no está de acuerdo con esta política, por favor no utilice nuestro Sitio. Su uso continuado del Sitio tras la publicación de cambios a esta política será considerado su aceptación de dichos cambios.</p>
                <p>Si usted tiene alguna pregunta sobre esta Política de Privacidad o las prácticas de este sitio, por favor póngase en contacto con nosotros al siguiente correo: <a href="mailto:asalvo@buscagro.cl">asalvo@buscagro.cl</a></p>
                <p>Este documento fue actualizado el 25 de Noviembre 2015.</p>
      </div>
    </div>
  </div>


	
	

    <!-- Info -->	
	<div id="info">
		<div class="titulo-2">
			<h3>¿Quieres más información?</h3>
			<div class="line-tr2"></div>
		</div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 info-item">
				<p>(+56 9) 97921456 ó <a href="mailto:contacto@buscagro.com">contacto@buscagro.cl</a></p>
				<a class="btn-general" href="#" data-toggle="modal" data-target="#myModal3">Contáctanos</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
  <footer>
    <div class="container">
      <div class="col-md-7">
        <ul class="">
          <li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
          <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a></li>
          <li><a href="{% url 'politicas' %}">Políticas de Privacidad</a></li>
        </ul>
        <img src="{% static "css/images/startup-chile1.jpg" %}" alt="" style="height: 50px;">
      </div><!--/ col -->
      <div class="col-md-5">
        <div class="redes">
          <a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" class="ico-facebook" target="_blank"></a>
          <a href="https://twitter.com/buscagrochile" class="ico-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCIHAgKKjoHNbBzBr2M6WXfQ" class="ico-youtube" target="_blank"></a>
        </div>
        <div class="buscagro">
          <p><span>Buscagro</span> Todos los derechos reservados</p>
        </div>
        <div class="vanilla">
          <p>desarrollado por <a href="http://www.vanilla.cl" target="_blank">Vanilla Diseño</a></p>
       </div>
            
     </div>
    </div>
  </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.js" %}"></script>
    <script src="{% static "js/registro.js" %}"></script>

    <script>
    	jQuery(function($) {
			$('.diag-left .item-diag').waypoint(function() {
			   $('.diag-left .item-diag').addClass( 'bounceInLeft animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});

		jQuery(function($) {
			$('.diag-right .item-diag').waypoint(function() {
			   $('.diag-right .item-diag').addClass( 'bounceInRight animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});
    </script>

    <script>
    $(function(){
	    $(".btn-registro").on('click', function(e){
	    	e.preventDefault();

			$('#myModal2').modal("hide");
			$('#myModal').modal('show'); 
		});
	});
    </script>
</body>
</html>
