{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Preguntas Frecuentes - Buscagro</title>
  <meta name="description" content="¿Cómo funciona Buscagro? ¿Cómo comprar? ¿Cuál es el costo de despacho?
¿Tiempo de despacho? ¿Cuáles son las formas de pago? Khipu
" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'headers.html' %}
</head>
<body>
	

	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="logo-mov pulse animated" href="{% url 'home' %}">
            <img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>  
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float: right; margin-right: 20px; margin-top: 20px;">
            <span class="sr-only">Toggle navigation</span>
            Menú
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand pulse animated no-movil" href="{% url 'home' %}">
            <img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>  
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if usuario == '' %}
                <a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a></li>
              {% else %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                <li><a href="#">Bienvenido {{usuario}}</a></li>
              {% endif %}
            <li><a href="" data-toggle="modal" data-target="#myModal">Registrarse</a></li>
            <li><a href="" data-toggle="modal" data-target="#myModal3">Contáctanos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<!-- MODAL REGISTRO -->
  {% include 'modal_registro.html' %}
  
  <!-- MODAL INICIAR SESION -->
  {% include 'modal_inicio_sesion.html' %}  

  <!-- MODAL CONTACTO -->
  {% include 'modal_contacto.html' %}

	
	<!-- FRASE PRINCIPAL -->	
	<div id="frase-nueva">
		<div class="container">
			<div class="col-md-12">
				<h1><span class="orange">Preguntas Frecuentes</h1>
			</div>
		</div>
	</div>

<!-- CONTENIDO INTERIOR -->  
  <div id="cont-interior">
    <div class="container">
      <div class="col-md-12">
           <h5>¿Cómo funciona Buscagro?</h5>
                <p>Colocamos a disposición múltiples descuentos  de agroinsumos según su ubicación geográfica. Inscribirte, busca y cotiza lo que necesitas, también cada cierto tiempo te enviaremos invitaciones con ofertas según tu perfil productivo.</p>
                <h5>¿Cómo Cotizar?</h5>
                <p>Es muy simple, sólo deberás realizar los siguientes pasos:</p>
                <ul>
                  <li>- Regístrate en Buscagro.cl. Si aún no estás inscrito, <a href="#" data-toggle="modal" data-target="#myModal">hazlo aquí</a></li>
                  <li>- Busca el producto y tu zona geográfica. En el mapa podrás ver el listado de empresas que ofertan el producto, elige la que te acomode.</li>
                  <li>- Elige el producto y su cantidad.</li>
                  <li>- Cotiza lo que necesitas por teléfono o por correo electronico con la empresa vendedora. </li>
                </ul>
                <h5>¿Cuáles son la condiciones de venta?</h5>
                <p>Toda información relacionada a la venta es proporcionada libremente por la empresa vendedora y será responsabilidad de ésta  respetar las condiciones de venta.</p>
                <h5>¿Cuáles son las formas de pago y entrega?</h5>
                <p>Buscagro.cl NO INTERVIENE en la negociaciones, ni en las transacciones de los usuarios, no representa ni al vendedor ni al comprador, no ofrece ningún servicio de protección financiero para compradores o vendedores. Todo deberá ser resuelto internamente entre las partes.</p>
                <h5>Tengo una empresa, ¿Cómo puedo vender mis productos?</h5>
                <p>Si eres un proveedor de agroinsumos y te interesa vender a través de <strong>Buscagro</strong>, contáctanos al teléfono (+56 9) 97921456 o escríbenos a <a href="mailto:asalvo@buscagro.cl">asalvo@buscagro.cl</a></p>
      </div>
    </div>
  </div>


	
	

    <!-- Info -->	
	<div id="info">
		<div class="titulo-2">
			<h3>¿Quieres más información?</h3>
			<div class="line-tr2"></div>
		</div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 info-item">
				<p>(+56 9) 97921456 ó <a href="mailto:contacto@buscagro.com">contacto@buscagro.cl</a></p>
				<a class="btn-general" href="#" data-toggle="modal" data-target="#myModal3">Contáctanos</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
  <footer>
    <div class="container">
      <div class="col-md-7">
        <ul class="">
          <li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
          <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a></li>
          <li><a href="{% url 'politicas' %}">Políticas de Privacidad</a></li>
        </ul>
        <img src="{% static "css/images/startup-chile1.jpg" %}" alt="" style="height: 50px;">
      </div><!--/ col -->
      <div class="col-md-5">
        <div class="redes">
          <a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" class="ico-facebook" target="_blank"></a>
          <a href="https://twitter.com/buscagrochile" class="ico-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCIHAgKKjoHNbBzBr2M6WXfQ" class="ico-youtube" target="_blank"></a>
        </div>
        <div class="buscagro">
          <p><span>Buscagro</span> Todos los derechos reservados</p>
        </div>
        <div class="vanilla">
          <p>desarrollado por <a href="http://www.vanilla.cl" target="_blank">Vanilla Diseño</a></p>
       </div>
            
     </div>
    </div>
  </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.js" %}"></script>
    <script src="{% static "js/registro.js" %}"></script>

    <script>
    	jQuery(function($) {
			$('.diag-left .item-diag').waypoint(function() {
			   $('.diag-left .item-diag').addClass( 'bounceInLeft animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});

		jQuery(function($) {
			$('.diag-right .item-diag').waypoint(function() {
			   $('.diag-right .item-diag').addClass( 'bounceInRight animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});
    </script>

    <script>
    $(function(){
	    $(".btn-registro").on('click', function(e){
	    	e.preventDefault();

			$('#myModal2').modal("hide");
			$('#myModal').modal('show'); 
		});
	});
    </script>
</body>
</html>