{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Terminos y Condiciones - Buscagro</title>
  <meta name="description" content="Al ser aceptada las ofertas ofrecidas en el sitio quedará sujeta la validez de la transacción
Medio de Pago. Medio de Entrega. Responsabilidad del usuario.
" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'headers.html' %}
</head>
<body>
	

	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        	<a href="{%url 'home'%}" class="logo-mov pulse animated">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float: right; margin-right: 20px; margin-top: 20px;">
            <span class="sr-only">Toggle navigation</span>
            Menú
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand pulse animated no-movil" href="{% url 'home' %}">
          	<img src="{% static "css/images/logo-buscagro.png" %}" alt="">
          </a>	
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if usuario == '' %}
                <a href="" data-toggle="modal" data-target="#myModal2">Iniciar Sesión</a></li>
              {% else %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                <li><a href="#">Bienvenido {{usuario}}</a></li>
              {% endif %}
            <li><a href="" data-toggle="modal" data-target="#myModal">Registrarse</a></li>
            <li><a href="" data-toggle="modal" data-target="#myModal3">Contáctanos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	<!-- MODAL REGISTRO -->
  {% include 'modal_registro.html' %}
  
  <!-- MODAL INICIAR SESION -->
  {% include 'modal_inicio_sesion.html' %}   

  <!-- MODAL CONTACTO -->
  {% include 'modal_contacto.html' %}

	
	<!-- FRASE PRINCIPAL -->	
	<div id="frase-nueva">
		<div class="container">
			<div class="col-md-12">
				<h1><span class="orange">Términos y Condiciones</h1>
			</div>
		</div>
	</div>

<!-- CONTENIDO INTERIOR -->  
  <div id="cont-interior" class="mar-top">
    <div class="container">
      <div class="col-md-12">
           <p>A través de este sitio Web tanto Buscagro como otras empresas podrán dar a conocer sus ofertas, las que podrán ser aceptadas vía electrónica utilizando los mecanismos que el sitio Web dispone como necesarios. </p>
                <p>La Empresa Buscagro no toma parte en el ciclo comercial de distribución, financiamiento y entrega de los productos efectivamente comercializados a través del sitio, cumpliendo exclusivamente un rol (servicio) de promoción  electrónica a terceros.</p>
                <p>Cualquier relación contractual acordada entre el cliente (usuario) y los terceros que ofrezcan productos a través de los Sitios Web es de exclusiva responsabilidad de los contratantes. Las consultas o reclamos que el usuario tenga respecto de los productos o servicios ofrecidos por terceros deberán ser hechos directamente al tercero oferente.</p>
                <h5>Responsabilidad del Usuario</h5>
                <p>El Usuario acepta que el uso del Sitio Web se efectúa libre y voluntariamente por el Usuario y bajo su única y exclusiva responsabilidad.</p>
                <p>El Usuario indemnizará y mantendrá indemne a la Empresa, incluidos sus dueños, empleados, asesores, y colaboradores (los “Relacionados a la Empresa”), contra todo daño, pérdida, costo y gasto (inclusive, sin carácter restrictivo, los honorarios y gastos legales razonables), que surja de o tenga relación con cualquier demanda, o reclamo, derivada de cualquier infracción en que El Usuario incurriere de los Términos y Condiciones del sitio. En todo caso, la Empresa se reserva el derecho de asumir la defensa y control exclusivo de cualquier demanda.</p>
                <p>Sin perjuicio de lo anterior, si como consecuencia de un incumplimiento del Usuario de los Términos y Condiciones expuesto, en su caso, la Empresa, fuera obligada a pagar multas, indemnizaciones u otro tipo de compensaciones, que resulten de la aplicación de una medida administrativa o de una resolución judicial, el Usuario deberá reintegrar a la Empresa la cantidad pagada por tal motivo, en el plazo máximo de treinta días contados desde la comunicación al Usuario del requerimiento de reembolso. </p>
                <p>El nombre de Usuario y la contraseña que elija cada Cliente con el fin de acceder al Sitio Web, son de carácter confidencial y personal. El uso de este nombre y contraseña está restringido exclusivamente al Usuario. El Usuario es responsable de todos los daños y perjuicios, de cualquier naturaleza, que se ocasionen como consecuencia de la utilización de su nombre de Usuario o contraseña, por parte de un tercero, y que se deriven de la pérdida de los mismos o de la negligencia del Usuario.</p>
                
      </div>
    </div>
  </div>


	
	

    <!-- Info -->	
	<div id="info">
		<div class="titulo-2">
			<h3>¿Quieres más información?</h3>
			<div class="line-tr2"></div>
		</div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 info-item">
				<p>(+56 9) 97921456 ó <a href="mailto:contacto@buscagro.com">contacto@buscagro.cl</a></p>
				<a class="btn-general" href="#" data-toggle="modal" data-target="#myModal3">Contáctanos</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
  <footer>
    <div class="container">
      <div class="col-md-7">
        <ul class="">
          <li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
          <li><a href="{% url 'preguntas_frecuentes' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a></li>
          <li><a href="{% url 'politicas' %}">Políticas de Privacidad</a></li>
        </ul>
        <img src="{% static "css/images/startup-chile1.jpg" %}" alt="" style="height: 50px;">
      </div><!--/ col -->
      <div class="col-md-5">
        <div class="redes">
          <a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" class="ico-facebook" target="_blank"></a>
          <a href="https://twitter.com/buscagrochile" class="ico-twitter" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCIHAgKKjoHNbBzBr2M6WXfQ" class="ico-youtube" target="_blank"></a>
        </div>
        <div class="buscagro">
          <p><span>Buscagro</span> Todos los derechos reservados</p>
        </div>
        <div class="vanilla">
          <p>desarrollado por <a href="http://www.vanilla.cl" target="_blank">Vanilla Diseño</a></p>
       </div>
            
     </div>
    </div>
  </footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/jquery.Rut.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.js" %}"></script>
    <script src="{% static "js/registro.js" %}"></script>

    <script>
    	jQuery(function($) {
			$('.diag-left .item-diag').waypoint(function() {
			   $('.diag-left .item-diag').addClass( 'bounceInLeft animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});

		jQuery(function($) {
			$('.diag-right .item-diag').waypoint(function() {
			   $('.diag-right .item-diag').addClass( 'bounceInRight animated' );
			},
			{
			offset: '70%',
			triggerOnce: true
			});
		});
    </script>

    <script>
    $(function(){
	    $(".btn-registro").on('click', function(e){
	    	e.preventDefault();

			$('#myModal2').modal("hide");
			$('#myModal').modal('show'); 
		});
	});
    </script>
</body>
</html>
