{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bienvenida</title>
</head>
<body style="font-family:Arial; max-width:600px;font-size: 14px;line-height: 20px;margin-left: auto;margin-right: auto;">
	<div style="
    margin-bottom: 20px;
    border-bottom: 1px solid #6FBC31;
	">
			<a href="http://www.buscagro.cl" target="_blank"><img src="http://www.buscagro.cl/static/css/logo-buscagro.png" alt="" style="max-width: 150px;"></a>
		</div>
		<div style="font-size: 18px;color: #70CA52;">Estimado(a) {{usuario}}:</div> 

		<div>
			<p><strong>Buscagro</strong> les da la cordial bienvenida a un moderno y avanzado servicio de <span style="color: #FF681D">Cotizacion</span> de insumos agricolas. En nuestra plataforma usted podra:</p>
		<ul style="
    list-style: none;
">
			<li style="background-image: url(&quot;ico-flecha.png&quot;);background-size: 10px;background-repeat: no-repeat;background-position: 0 3px;padding-left: 15px;">Obtener comparativamente menores precios al momento de la compra.</li>
			<li style="background-image: url(&quot;ico-flecha.png&quot;);background-size: 10px;background-repeat: no-repeat;background-position: 0 3px;padding-left: 15px;">Buscar ofertas segun tu ubicacion.</li>
			<li style="background-image: url(&quot;ico-flecha.png&quot;);background-size: 10px;background-repeat: no-repeat;background-position: 0 3px;padding-left: 15px;">Recibir notificaciones de descuentos afines a tu cultivo.</li>
			<li style="background-image: url(&quot;ico-flecha.png&quot;);background-size: 10px;background-repeat: no-repeat;background-position: 0 3px;padding-left: 15px;"><span style="color: #FF681D">Cotizar</span>  los productos que necesitas, de modo facil y rapido.</li>
		</ul>
		</div>
		<div><p>Saluda atentamente <br>
			<a href="http://www.buscagro.cl" target="_blank" style="
    color: #FFAB80;
">www.buscagro.cl</a></p></div>
		<div><p>Cualquier duda o consulta por favor escribenos a <a href="mailto:contacto@buscagro.cl" target="_blank" style="
    color: #FFAB80;
">contacto@buscagro.cl</a> o llama al (+56 9) 97921456</p></div>
		
		
		<div style="
		    border-top: 1px solid #70BC32;
		    padding-top: 10px;
		    margin-top: 20px;
		">
				<a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-facebook.png" alt="" style="
			    max-width: 20px;
			    margin-right: 5px;
			"></a>
				<a href="https://twitter.com/buscagrochile" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-twitter.png" alt="" style="
			    max-width: 20px;
			"></a>
		</div>
		<div style="font-size: 11px;">Importante: <br>
			Este mail es generado de manera automática, por favor no responder al mensaje. <br>
		Los tildes han sido omitidos en forma intencional.</div>


</body>
</html>