<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Compra Transferencia Simple</title>
</head>
<body style="font-family:Arial; max-width:600px;font-size: 14px;line-height: 20px;margin-left: auto;margin-right: auto;">
	<div style="margin-bottom: 20px; border-bottom: 1px solid #6FBC31; ">
			<a href="http://www.buscagro.cl" target="_blank"><img src="http://www.buscagro.cl/static/css/logo-buscagro.png" alt="" style="max-width: 150px;"></a>
		</div>
		<div style="font-size: 18px;color: #70CA52;">Estimado(a) {{usuario}}:</div> 

		<div><p><strong>Su usuario es:</strong> {{usuario}}</p>
			 <p><strong>Clave:</strong> {{password}}</p>
		</div>
		<div><p>Saluda atentamente, equipo Buscagro<br>
			<a href="http://www.buscagro.cl" target="_blank" style="color: #FFAB80;">www.buscagro.cl</a></p></div>
		<div><p>Cualquier duda o consulta por favor escribenos a <a href="mailto:contacto@buscagro.cl" target="_blank" style="color: #FFAB80;">contacto@buscagro.cl</a> o llama al (+56 9) 97921456</p></div>
		
		
		<div style="border-top: 1px solid #70BC32;padding-top: 10px;margin-top: 20px;">
				<a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-facebook.png" alt="" style="
			    max-width: 20px;
			    margin-right: 5px;
			"></a>
				<a href="https://twitter.com/buscagrochile" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-twitter.png" alt="" style="
			    max-width: 20px;
			"></a>
		</div>
		<div style="font-size: 11px;">Importante: <br>
			Este mail es generado de manera automática, por favor no responder al mensaje. <br>
		Los tildes han sido omitidos en forma intencional.</div>


</body>
</html>