<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cotizacion Buscagro</title>
</head>
<body style="font-family:Arial; max-width:600px;font-size: 14px;line-height: 20px;margin-left: auto;margin-right: auto;">
	<div style="
    margin-bottom: 20px;
    border-bottom: 1px solid #6FBC31;
	">
			<a href="http://www.buscagro.cl" target="_blank"><img src="http://www.buscagro.cl/static/css/logo-buscagro.png" alt="" style="max-width: 150px;"></a>
		</div>
		<div style="font-size: 18px;color: #70CA52;">Estimado(a) {{usuario}}:</div> 

		<div><p><strong>Razon Social:</strong> {{empresa_razon_social}}</p>
			 <p><strong>Rut:</strong> {{empresa_rut}}</p>
		</div>
		<div>
			<p>Usted ha realizado una<span style="color: #FF681D"> Cotizacion</span> a traves de nuestro sitio Buscagro. El detalle se da a continuacion:</p>
			<ul>
				{% for key,value in productos_cotizados.items %}
				<li>{{value}} unidades de {{key.envoltorio}} de {{key.producto.nombre}}</li>
				{% endfor %}
			</ul>
			<p>Dentro de las proximas 24 horas habiles la empresa vendedora tomara contacto con usted. </p>
			<!--<p>Su comprobante lo puede encontrar <a href="#" target="_blank" style="color: #000000;">AQUI</a></p>-->
		</div>
		<div style="background-color: #EFEFEF;padding: 1px 20px;">
			<p style="font-size:18px;color: #FF681D;"><strong>Vendedor:</strong> {{empresa_oferente.nombre}}</p>
		  	<div>
			  <p><strong>Dirección: </strong>{{empresa_oferente.direccion}}</p>
			  <p><strong>Teléfono:</strong> {{empresa_oferente.telefono}}</p>
			</div>
			<p>De acuerdo con la información presentada, los siguientes son los productos de su promoción:</p>
			<ul> 
				{% for po in productos_oferta %} 
			  	<li>{{po.producto.nombre}}. <span style="{%if po.porcentaje_descuento < 6%}color: #F7801D{%else%}color: #FF681D;{%endif%}">{{po.porcentaje_descuento}}% Descuento.</span></li>
			  	{% endfor %}
			</ul>
			<p align="justify"><span style="font-size: 16px; font-style: italic;">Condiciones:</span> {{condiciones}} </p>
		</div>
		<div>
			<p style="font-size: 12px">Importante: Buscagro.cl no vende y no participa en ninguna negociación, venta o perfeccionamiento de operaciones de este aviso.</p>
		  	<p>Saluda atentamente,<br>
			<a href="http://www.buscagro.cl" target="_blank" style="color: #FFAB80;">www.buscagro.cl</a></p>
		</div>
		<div><p>Cualquier duda o consulta por favor escribenos a <a href="mailto:contacto@buscagro.cl" target="_blank" style="color: #FFAB80;">contacto@buscagro.cl</a> o llama al (+56 9) 97921456</p></div>
		
		
		<div style="
		    border-top: 1px solid #70BC32;
		    padding-top: 10px;
		    margin-top: 20px;
		">
				<a href="https://www.facebook.com/pages/Buscagro/512232458930428?fref=ts" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-facebook.png" alt="" style="
			    max-width: 20px;
			    margin-right: 5px;
			"></a>
				<a href="https://twitter.com/buscagrochile" target="_blank"><img src="http://www.buscagro.cl/static/css/ico-twitter.png" alt="" style="
			    max-width: 20px;
			"></a>
		</div>
		<div style="font-size: 11px;">Importante: <br>
			Este mail es generado de manera automática, por favor no responder al mensaje. <br>
		Los tildes han sido omitidos en forma intencional.</div>


</body>
</html>
