<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Buscagro</title>

        {% load staticfiles %}
            <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
        {% block css %}
        {% endblock %}
            <script src="{% static "js/jquery-ui.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% block js %}
        {% endblock %}
    </head>

    <body>
        {% block main_content %}
        {% endblock %}
    </body>
</html>
