{% include 'administrador_centralizado/base_template.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static "css/estilos-front.css" %}" rel="stylesheet">
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
    <div class="col-lg-3 menu">
        <div class="panel panel-default">
            <div class="panel-heading">
                Aplicaciones
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'administrador_centralizado_cargar_productos' %}" class="list-group-item">
                        Carga Productos
                        <span class="corchangulo"></span>
                    </a>
                    
                </div>
                <div class="list-group">
                    <a href="{% url 'administrador_centralizado_historial_cotizaciones' %}" class="list-group-item">
                        Historial Cotizaciones
                        <span class="corchangulo"></span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 menu">
        <div class="jumbotron container-fluid text-center menu-bienvenida">
            <h4>Bienvenido al administrador centralizado</h4>
        </div>
    </div>
    </div>

{% endblock %}
